{{! Variables: title, message, outcome, actionUrl, outcomeText }}
<p>{{message}}</p>
<p><strong>{{outcomeText}}</strong></p>
<p>The job has been marked as completed. If you have any concerns, please contact support.</p>
